body { 
	background-image: url("http://cdn.pcwallart.com/images/gradient-wallpaper-2.jpg");  
	
	background-attachment: fixed;
	margin: 75px auto 75px auto;
}

section { 
	background-color: Beige; 
	color: teal; 
	width: 800px; 
	margin: 75px auto 75px auto;
	font: normal 14px "Trebuchet MS", sans-serif;
	border-radius: 15px;
}

h1 { 
	font: bold 48px "Arial Black", Gadget, sans-serif; 
	text-align: center; 
	margin-bottom: 10px;
	text-shadow: 6px 3px 4px aquamarine;
}

table, th, td { 
	border: 1px solid teal;
}

strong {
	font-size: 20px;
	margin-left: 40px; 
	margin-right: 40px;
}

.l1 { 
	margin-left: 40px; 
	margin-right: 40px;
}

hr { 
	background-color: teal; 
	height: 2px;
	width: 85%;
}

img {
	margin: 10px 0px 10px 0px;
}

.i1 {
	border: outset mediumAquamarine 6px;
}

.i2 {
	box-shadow: 10px 10px 5px 3px mediumAquamarine;
}